@font-face{
    font-family: "Dosis-regular";
    src:url("https://fonts.googleapis.com/css?family=Dosis&display=swap")
  }
  @font-face{
    font-family: "Dosis-light";
    src: url("https://fonts.googleapis.com/css?family=Dosis:300&display=swap")
  }
  @font-face{
    font-family: "Dosis-medium";
    src: url("https://fonts.googleapis.com/css?family=Dosis:500&display=swap")
  }
  @font-face{
    font-family: "Dosis-bold";
    src: url("https://fonts.googleapis.com/css?family=Dosis:700&display=swap")
  }
  html,
  body{
    font-family: "Dosis-regular", sans-serif !important;
    margin: 0;
  }
  
  html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  .AppMobile .homeMobile{
    width: 200%;
    height: 100vh;
    background: #20123a;
    position: fixed;
  }
  .AppMobile .homeMobile .content{
    width: 40%;
    margin-top:30%;
    position:relative; 
    display:inline-block;
  }
  .AppMobile .homeMobile .content img{
    width: 200px;
    margin: auto;
    padding-bottom:10px;
    text-align: center !important;
    z-index: 1;
  }
  .AppMobile .homeMobile p{
    font-weight: lighter;
    font-size: 1.7rem;
    letter-spacing: -.03rem;
    color: white;
    width: 100vw;
    text-align: center;
  }